<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Boxicons -->
  <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />

  <!-- Fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <!-- Custom StyleSheet -->
  <link href="/static/base.css" rel="stylesheet" type="text/css">
  <title>ThisPari</title>
</head>

<body>
  
  <!-- HEADER -->

 <header class="header">
  <nav>
    <img img style="border-radius:50%" src="/static/immagini/photo.jpg"  class="logob"/>
    <ul>
        <li><a href="/about-us">ABOUT US</a></li>
        <li><a href="/contact-us">CONTACT US</a></li>
    </ul>
    </nav>
    <!-- Intro -->
    <center><div class="intro">
    <img src="/static/immagini/this pari.jpg" height="500" class="centro"/>
    </div></center>
      
  </header>


  <!-- New Arrivals -->
  <div id="section">
    <div class="h">
      <h1>Prodotti</h1>
    </div>
    <div class="ac-center box">
      <div id="prodotti">
        <div class="ac">
          <body link="#ae6c09">
          <body alink="#ae6c09">
          <body vlink="#ae6c09">
          <a href="/aleks" style="text-decoration: none" >
          <div class="img-cover">
            <img src="hand1.png" alt="" />
          </div>
          <div class="nome">
            <p>Felpa</p>
          </div>
          <div class="rating">
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
          </div>
          <div class="price">20€</div>
          </a>
        </div>          
        <div  class="ac">
          <div class="img-cover">
            <img src="hand1.png" alt="" />
          </div>
          <p>T-shirt</p>
          <div class="rating">
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
          </div>
          <div class="price">15€</div>
        </div>
      </div>
    </div>
  </div>

        <!-----footer-------------------->
        <section id="footer">
            
            <div class="foot">
                <ul>
                    <li><a href="/about-us">ABOUT US</a></li>
                    <li><a href="/contact-us">CONTACT US</a></li> 
                  
                </ul>

                <div class="social-links">
                    <a href="https://www.instagram.com/this.pari/"><i class="fab fa-instagram"></i></a>
                  </div>
            </div>
        </section>
      
</body>

</html>
