<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Boxicons -->
  <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />

  <!-- Fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <!-- Custom StyleSheet -->
  <link href="/static/base.css" rel="stylesheet" type="text/css">
  <title>ThisPari</title>
</head>

<body>
  
  <!-- HEADER -->

 <header class="header">
  <nav>
    <img img style="border-radius:50%" src="/static/immagini/photo.jpg"  class="logob"/>
    </nav>
  </header>

  <!-- New Arrivals -->
  <div id="section">
    <div class="h">
      <h1>Accedi</h1>
    </div>
    <div class="ac-center box">
      <body link="#ae6c09">
          <body alink="#ae6c09">
          <body vlink="#ae6c09">
      <div id="prodotti">
        <div class="ac">
        <a href="/login" style="text-decoration: none">Fai il login</a>
        </div>     
        <div  class="ac">
          <a href="/register" style="text-decoration: none">Registrati</a>
        </div>
      </div>
    </div>
  </div>

        <!-----footer-------------------->
        <section id="footer">
            
            <div class="foot">

                <div class="social-links">
                    <a href="https://www.instagram.com/this.pari/"><i class="fab fa-instagram"></i></a>
                  </div>
            </div>
        </section>
      
</body>

</html>
