<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Boxicons -->
  <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />

  <!-- Fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <!-- Custom StyleSheet -->
  <link href="/static/base.css" rel="stylesheet" type="text/css">
  <title>ThisPari</title>
</head>

<body>
  
  <!-- HEADER -->

 <header class="header">
  <nav>
    <img img style="border-radius:50%" src="/static/immagini/photo.jpg"  class="logob"/>
    </nav>
  </header>
<h1> </h1>
<h1> </h1>
<h1> </h1>

  <div id="section">
        <form action = "{{url_for('login')}}" method = "POST">
   <p>Email <input type = "text" name = "Email" /></p>
   <p>Password <input type = "text" name = "Password" /></p>
   <p><input type = "submit" value = "Fai il login" /></p>
</form>
        </div>
    </form>
  </div>



</body>

</html>
